<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Production.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Production.Properties.Settings>
            <setting name="AlgorName" serializeAs="String">
                <value>Statics</value>
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value>2.2</value>
            </setting>
            <setting name="NumOfPoints" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Range" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="Power" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Xvalue" serializeAs="String">
                <value>2</value>
            </setting>
        </Production.Properties.Settings>
    </userSettings>
</configuration>