<header>
	<img src="header_red.jpg">
	<nav>
		<button id="change-username-button" class="header-button">Change Username</button>
		<button id="add-post-button" class="header-button">Add Post</button>
	</nav>
</header>