<!-- MAIN CONTENT: POSTS AND POPUPS -->
<main id="content">

	<!-- SECTION: POSTS -->
	<section id="posts">

		<!-- POST OUTLINE: BUTTONS, CONTENT, COMMENTS -->
		<div class="post" data-dislikes="0">
			<div class="post-container">
				<div class="button-container">
					<button class="dislike-button">
						<div>0</div>
						<div>dislike</div>
					</button>
					<button class="comment-button">add comment</button>
				</div>
				<div class="content-container">
					<h2 class="post-title">Cras Ornare Arcu</h2>
					<p class="username">iSuck</p>
					<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Eget duis at tellus at. Suscipit adipiscing
						bibendum est ultricies. Massa massa ultricies mi quis hendrerit dolor magna eget. Etiam tempor orci eu lobortis. Pulvinar
						neque laoreet suspendisse interdum consectetur libero id faucibus. Sit amet luctus venenatis lectus magna fringilla
						urna porttitor. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Tincidunt nunc pulvinar sapien
						et ligula ullamcorper malesuada proin. Integer feugiat scelerisque varius morbi enim nunc. Ultricies mi quis hendrerit
						dolor magna eget est lorem. Eu non diam phasellus vestibulum lorem. In ornare quam viverra orci sagittis. Varius morbi
						enim nunc faucibus a pellentesque sit amet. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras.</p>
				</div>
			</div>
			<div class="comment-container">
				<div class="comment">
					<p class="username">WhyAmILikeThis420</p>
					<p class="comment-content">wtf</p>
				</div>
				<div class="comment">
					<p class="username">CatzRCool</p>
					<p class="comment-content">Who even talks like this anymore?</p>
				</div>
			</div>
		</div>

		<div class="post" data-dislikes="40">
			<div class="post-container">
				<div class="button-container">
					<button class="dislike-button">
						<div>0</div>
						<div>dislike</div>
					</button>
					<button class="comment-button">add comment</button>
				</div>
				<div class="content-container">
					<h2 class="post-title">Cras Ornare Arcu</h2>
					<p class="username">wut</p>
					<p class="post-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
						aliqua. Tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Eget duis at tellus at. Suscipit adipiscing
						bibendum est ultricies. Massa massa ultricies mi quis hendrerit dolor magna eget. Etiam tempor orci eu lobortis. Pulvinar
						neque laoreet suspendisse interdum consectetur libero id faucibus. Sit amet luctus venenatis lectus magna fringilla
						urna porttitor. Suscipit adipiscing bibendum est ultricies integer quis auctor elit sed. Tincidunt nunc pulvinar sapien
						et ligula ullamcorper malesuada proin. Integer feugiat scelerisque varius morbi enim nunc. Ultricies mi quis hendrerit
						dolor magna eget est lorem. Eu non diam phasellus vestibulum lorem. In ornare quam viverra orci sagittis. Varius morbi
						enim nunc faucibus a pellentesque sit amet. Tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras.</p>
				</div>
			</div>
			<div class="comment-container">
				<div class="comment">
					<p class="username">dootdoot</p>
					<p class="comment-content">This is comment #1.</p>
				</div>
				<div class="comment">
					<p class="username">1337h4x0r</p>
					<p class="comment-content">This is comment #2.</p>
				</div>
			</div>
		</div>
	</section>
</main>
