<!-- ADD POST POPUP -->
<div id="add-post-container" class="masked">
	<div class="popup-header">
		<h2>Create New Post</h2>
	</div>

	<div class="popup-content">
		<label for="post-title-input">Post Title</label>
		<input type="text" id="post-title-input">
		<br>
		<label for="post-content-input">Post Content</label>
		<input type="text" id="post-content-input">
	</div>

	<div class="popup-buttons-container">
		<button id="create-post-button">SUBMIT</button>
		<button id="cancel-post-button">CANCEL</button>
	</div>
</div>

<!-- CHANGE USERNAME POPUP -->
<div id="change-username-container" class="masked">
	<div class="popup-header">
		<h2>Change Username</h2>
	</div>

	<div class="popup-content">
		<label for="username-input">Username</label>
		<input type="text" id="username-input">
	</div>

	<div class="popup-buttons-container">
		<button id="confirm-username-change">CHANGE</button>
		<button id="cancel-username-change">CANCEL</button>
	</div>
</div>

<!-- ADD COMMENT POPUP -->
<div id="add-comment-container" class="masked">
	<div class="popup-header">
		<h2>Add Comment</h2>
	</div>

	<div class="popup-content">
		<label for="comment-input">Comment</label>
		<input type="text" id="comment-input">
	</div>

	<div class="popup-buttons-container">
		<button id="create-comment-button">SUBMIT</button>
		<button id="cancel-comment-button">CANCEL</button>
	</div>
</div>
