{{> header}}

<main class="error-container">
	<h2>404</h2>
	<h3>Woops! We couldn't find that page.</h3>
	<p>
		<strong>¯\_(ツ)_/¯</strong>
	</p>

	<iframe width="640" height="360" src="http://www.youtube.com/embed/R-xwlcwWwDI?&autoplay=1&rel=0&fs=0&loop=1&showinfo=0&disablekb=1&modestbranding=1&controls=0&hd=1&autohide=1&playlist=R-xwlcwWwDI"
	 frameborder="0" allowfullscreen></iframe>
	{{!--
	<iframe type="text/html" frameborder="0" width="640" height="360" src="https://www.youtube-nocookie.com/embed/fIgm6lxvUfQ?autoplay=1&controls=0&disablekb=1&fs=0&iv_load_policy=3&loop=1&playlist=fIgm6lxvUfQ&modestbranding=1&rel=0&showinfo=0"></iframe> --}}
</main>