<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>FaceIT</title>
	<link rel="shortcut icon" href="favicon.png">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<!-- BODY FONT -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	<!-- NAV FONT -->
	<link rel="stylesheet" href="style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
	<script src="content_container.js" charset="utf-8" defer></script>
	<script src="comment.js" charset="utf-8" defer></script>
	<script src="index.js" charset="utf-8" defer></script>
</head>

<body>
	{{{body}}}
</body>

</html>
